.RCB {
  background-image: linear-gradient(to bottom, #d91c1f, #a4261d, #1e293b);
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.KKR {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.MI {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.RR {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.SH {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.DC {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.banner-team-image {
  width: 100%;
  height: 400px;
}

.latest-match-text {
  color: white;
  font-family: 'Bree Serif';
  font-size: 17px;
}

.Loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
